#main-div{
    height: 100px;
    width: auto;
    background-color: rgb(77, 189, 241);
    background-image: url('img/pattern.png'); 
    /* non riesco a mettere lo sfondo */
}

#main-div img {
    width: 150px;
    height: 100px;
}

.autore {
    font-size: 20px;
    color: rgb(110, 110, 110);
}

#booleaner{
    color: rgb(0, 132, 255);
}
.data{
    font-size: 15px;
    color: rgb(110, 110, 110);
    margin-bottom:30px;
}

h1{
    margin-bottom: 0px;
}

#lorem{
    margin-bottom:50px;
}
.marker{
    background-color: yellow;
}
.testo{
    font-size: 23px;
}
.tabella{
    text-align:start;
    background-color: aqua;
    font-size: 20px;
}
td{
    height: 70px;
}
.td-special{
    padding-right:40px;
}


.paragrafo{
    font-size: 22px;;
}